.input {
    width: 40%;
    border-radius: 8px;
    border: 2px solid rgb(161, 161, 161);
    padding: 10px 15px;
    box-shadow: 3px 4px 15px rgba(187, 0, 0);
    &:focus{
        outline: none;
    }
}

.btn{
    box-shadow: 3px 4px 15px rgba(187, 0, 0);
}

@media (max-width: 576px) {
    .input {
        width: 80%;
    }
}